---
import ExperienceItem, {
	type ExperiencieItemProps,
} from './ExperienceItem.astro';
export interface ExperienciesProps {
	experiencies: ExperiencieItemProps[];
}
interface Props extends ExperienciesProps {}
const { experiencies } = Astro.props;
---

<ol class="relative ml-3 border-s border-gray-200">
	{
		experiencies.map((experiencie) => (
			<li class="mb-10 ms-4">
				<ExperienceItem {...experiencie} />
			</li>
		))
	}
</ol>
