---
import { LanguageSelector } from 'astro-i18next/components'
import ThemeIcon from './ThemeIcon.astro'
import { t } from 'i18next'
---

<header
	class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
	<nav
		class={`
      border border-black rounded-full
      px-3 py-1
      flex flex-row items-center
      bg-neutral-200 dark:bg-black/50
      backdrop-blur-2xl
    `}
	>
		<a class="rounded-full px-3 transition hover:bg-white/10" href="#experience"
			>{t('HEADER.NAVIGATION.EXPERIENCE')}</a
		>
		<a class="rounded-full px-3 transition hover:bg-white/10" href="#projects"
			>{t('HEADER.NAVIGATION.PROJECTS')}</a
		>
		<a class="rounded-full px-3 transition hover:bg-white/10" href="#sobre-mi"
			>{t('HEADER.NAVIGATION.ABOUTME')}</a
		>
		<a class="rounded-full px-3 transition hover:bg-white/10" href="#contacto"
			>{t('HEADER.NAVIGATION.CONTACT')}</a
		>
	</nav>
	<ThemeIcon />
	<LanguageSelector class="my-select-class" />
</header>
