---
import English from './icons/English.astro';
import Spanish from './icons/Spanish.astro';
import i18next from 'i18next';
const isEsp = i18next.language === 'es';
---

<button id="languageToggle">
	{isEsp ? <Spanish /> : <English class="size-6" />}
</button>
<!-- 
<script is:inline>
	//check if the user has a language preference
	const userLang = navigator.language || navigator.userLanguage
	//check if the browser has stored a language preference
	const storedLang = localStorage.getItem('language')
	//check if the user has a language preference stored in the browser
	const browserLang = storedLang ? storedLang : userLang
	//set the language to the browser language
	i18next.changeLanguage(browserLang)
	//set the language to the browser language
	const button = document.getElementById('languageToggle')
	const toggleLenguage = () => {
		if (i18next.language === 'es') {
			i18next.changeLanguage('en')
			localStorage.setItem('language', 'en')
		} else {
			i18next.changeLanguage('es')
			localStorage.setItem('language', 'es')
		}
	}
	button.addEventListener('click', () => toggleLenguage())
</script> -->
